datasets/linemod/Linemod_preprocessed
datasets/ycb/YCB_Video_Dataset
datasets/airplane/Airplane_data
*.zip
*__pycache__
experiments/logs/*
*.pyc
lib/knn/knn_pytorch/__pycache__/*
__init__.*
*.pth
YCB_Video_toolbox
eval_vis/

